<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Signup | UrbanWear</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>


<body>


</body>

<header>

    <div class="logo">

        Urban<span>Wear</span>

    </div>


    <nav>

        <ul>

            <li><a href="/">Home</a></li>

            <li><a href="/#products">Products</a></li>

            <li><a href="/cart">Cart</a></li>

        </ul>

    </nav>


    <div class="icons">

        <a href="/cart" class="cart-icon">

            <i class="fa-solid fa-cart-shopping"></i>

            <span id="cart-count">0</span>

        </a>

    </div>


</header>


    <div class="signup-container">

    <h2>Create Account</h2>

    <p>Join UrbanWear and start shopping today</p>


    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <div class="flash-message">

                    {{ message }}

                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}

    <form method="POST" action="/signup">

    <div class="input-group">
        <label>Full Name</label>
        <input type="text" name="full_name" placeholder="Enter your full name">
    </div>

    <div class="input-group">
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email">
    </div>

    <div class="input-group">
        <label>Phone Number</label>
        <input type="text" name="phone" placeholder="Enter your phone number">
    </div>

    <div class="input-group">
        <label>Password</label>
        <input type="password" name="password" placeholder="Create password">
    </div>

    <div class="input-group">
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" placeholder="Confirm password">
    </div>

    <button type="submit">
        Create Account
    </button>

</form>


        <p class="login-link">

            Already have an account?

            <a href="/login">Login</a>

        </p>


    </div>


</section>
<form method="POST" action="/signup">